argcomplete==2.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==36.0.2
dxpy==0.322.1
Flask==2.0.3
gnureadline==8.0.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.19.5
pandas==1.1.5
psutil==5.9.0
pycparser==2.21
pyfaidx==0.6.4
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.26.0
six==1.16.0
slack-logger==0.3.1
tqdm==4.64.0
urllib3==1.26.9
websocket-client==0.54.0
Werkzeug==2.0.3
zipp==3.6.0
