argcomplete==2.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
cryptography==36.0.2
dxpy==0.322.1
Flask==2.1.1
gnureadline==8.0.0
gunicorn==19.10.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
pandas==1.4.2
psutil==5.9.0
pycparser==2.21
pyfaidx==0.6.4
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.26.0
six==1.16.0
tqdm==4.64.0
urllib3==1.26.9
websocket-client==0.54.0
Werkzeug==2.1.1
zipp==3.8.0
